QtPy
pathvalidate
numpy
scipy
pyqtgraph
pandas

# for quantities with units
astropy

# for communication with hardware
netifaces
requests
nidaqmx>=1.0.0
pyserial
PyVISA
python-vxi11
PyMeasure

tomli; python_version < '3.11'

# for basic plotting
matplotlib

# formatting
black
ruff<0.4.3; platform_system=="Windows" and platform_release<"10"
ruff; platform_system!="Windows" or platform_release>="10"
