QtPy
pathvalidate
numpy
scipy
pyqtgraph
pandas

# for quantities with units
astropy

# for communication with hardware
netifaces
requests
nidaqmx
pyserial
PyVISA
PyMeasure

# for basic plotting
matplotlib

# formatting
black
ruff
